# Telegram
BOT_TOKEN=123456:ABC-DEF...


# HR и админы (Telegram Chat ID и список tg user id через запятую)
HR_CHAT_ID=-1001234567890
ADMIN_TG_IDS=123456789,987654321

# Регистрация: только почты с этих доменов
ALLOWED_EMAIL_DOMAINS=example.com,company.com

# Письмо с кодом подтверждения: True = отправлять код на почту, False = принимать только код 1111
SMTP=false
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=hr-bot@company.com
SMTP_PASSWORD=
MAIL_FROM=hr-bot@company.com

# Google Таблица (путь к JSON с сервисным аккаунтом и ID таблицы)
GOOGLE_CREDENTIALS_PATH=./credentials/google-service.json
GOOGLE_SPREADSHEET_ID=1abc...xyz

# WebApp (публичный URL для открытия в Telegram)
WEBAPP_URL=http://localhost:8000
